Planttrackerserver.json
[{"id":"c8c384c5.eeb738","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"12c3d671.cd37ea","type":"ioplugin","name":"","username":"","password":"","boardType":"raspi-io","serialportName":"","connectionType":"local","mqttServer":"","pubTopic":"","subTopic":"","tcpHost":"","tcpPort":"","sparkId":"","sparkToken":"","beanId":"","impId":"","uuid":"","token":"","sendUuid":"","samplingInterval":"500"},{"id":"2b4146ff.7d827a","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"1cfab716.dc7cc9","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"54cb462c.b5d518","type":"ui_group","name":"Default","tab":"2b4146ff.7d827a","order":1,"disp":true,"width":"6","collapse":false},{"id":"c428a901.872868","type":"rpi-dht22","z":"c8c384c5.eeb738","name":"","topic":"rpi-dht22","dht":"11","pintype":"1","pin":"7","x":420,"y":260,"wires":[["e180ae3a.d1a34","2169de42.af9262","f9d2e69.d5bd318","69e70240.c85fec"]]},{"id":"b5fe0453.e55a58","type":"inject","z":"c8c384c5.eeb738","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":270,"y":260,"wires":[["c428a901.872868"]]},{"id":"e180ae3a.d1a34","type":"switch","z":"c8c384c5.eeb738","name":"","property":"humidity","propertyType":"msg","rules":[{"t":"gte","v":"40","vt":"str"},{"t":"lt","v":"40","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":750,"y":260,"wires":[["96f72796.c70988"],["3de0aa0b.50f1c6"]]},{"id":"3de0aa0b.50f1c6","type":"trigger","z":"c8c384c5.eeb738","name":"","op1":"below 40","op2":"","op1type":"str","op2type":"nul","duration":"250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":960,"y":280,"wires":[["23ad2a33.66ca36"]]},{"id":"96f72796.c70988","type":"trigger","z":"c8c384c5.eeb738","name":"","op1":"above 40","op2":"","op1type":"str","op2type":"nul","duration":"250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":960,"y":240,"wires":[["23ad2a33.66ca36"]]},{"id":"23ad2a33.66ca36","type":"debug","z":"c8c384c5.eeb738","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1290,"y":260,"wires":[]},{"id":"2169de42.af9262","type":"switch","z":"c8c384c5.eeb738","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"27","vt":"str"},{"t":"lt","v":"20","vt":"str"},{"t":"btwn","v":"27","vt":"num","v2":"20","v2t":"num"}],"checkall":"true","repair":false,"outputs":3,"x":590,"y":420,"wires":[["3a6af35.45a010c","2cbf45aa.a0f61a"],["b8eb9efc.a988d","f6eb2dcf.6a38f"],["a06c8922.8d8a78","d087c721.20b2a8"]]},{"id":"b8eb9efc.a988d","type":"trigger","z":"c8c384c5.eeb738","name":"","op1":"too cool","op2":"","op1type":"str","op2type":"nul","duration":"250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":960,"y":420,"wires":[[]]},{"id":"3a6af35.45a010c","type":"trigger","z":"c8c384c5.eeb738","name":"","op1":"too warm","op2":"","op1type":"str","op2type":"nul","duration":"250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":960,"y":340,"wires":[[]]},{"id":"a06c8922.8d8a78","type":"trigger","z":"c8c384c5.eeb738","name":"","op1":"just right","op2":"","op1type":"str","op2type":"nul","duration":"250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":960,"y":500,"wires":[[]]},{"id":"2cbf45aa.a0f61a","type":"trigger","z":"c8c384c5.eeb738","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"1","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":940,"y":380,"wires":[["7eed0708.f65858"]]},{"id":"f6eb2dcf.6a38f","type":"trigger","z":"c8c384c5.eeb738","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"1","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":940,"y":460,"wires":[["df38f25c.53485"]]},{"id":"d087c721.20b2a8","type":"trigger","z":"c8c384c5.eeb738","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"1","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":940,"y":540,"wires":[["59b633cb.dc11fc"]]},{"id":"7eed0708.f65858","type":"rpi-gpio out","z":"c8c384c5.eeb738","name":"","pin":"36","set":true,"level":"0","freq":"","out":"out","x":1090,"y":380,"wires":[]},{"id":"df38f25c.53485","type":"rpi-gpio out","z":"c8c384c5.eeb738","name":"","pin":"32","set":true,"level":"0","freq":"","out":"out","x":1090,"y":460,"wires":[]},{"id":"59b633cb.dc11fc","type":"rpi-gpio out","z":"c8c384c5.eeb738","name":"","pin":"22","set":true,"level":"0","freq":"","out":"out","x":1080,"y":540,"wires":[]},{"id":"f9d2e69.d5bd318","type":"ui_gauge","z":"c8c384c5.eeb738","name":"","group":"54cb462c.b5d518","order":0,"width":0,"height":0,"gtype":"gage","title":"Temp","label":"0","format":"{{value}}","min":0,"max":"48","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":630,"y":300,"wires":[]},{"id":"69e70240.c85fec","type":"string","z":"c8c384c5.eeb738","name":"","methods":[],"prop":"humidity","propout":"payload","object":"msg","objectout":"msg","x":630,"y":200,"wires":[["2ad07954.cee916"]]},{"id":"2ad07954.cee916","type":"ui_gauge","z":"c8c384c5.eeb738","name":"","group":"54cb462c.b5d518","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"0","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":820,"y":200,"wires":[]},{"id":"ed876f3c.5b18c","type":"rpi-gpio in","z":"c8c384c5.eeb738","name":"","pin":"8","intype":"tri","debounce":"25","read":false,"x":290,"y":600,"wires":[["17c9a779.40a799"]]},{"id":"17c9a779.40a799","type":"switch","z":"c8c384c5.eeb738","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":600,"wires":[["13451d4d.a43423"],["71f2edb9.fa61e4"]]},{"id":"13451d4d.a43423","type":"trigger","z":"c8c384c5.eeb738","name":"","op1":"NO","op2":"","op1type":"str","op2type":"nul","duration":"250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":620,"y":580,"wires":[["a2d68c71.12363"]]},{"id":"71f2edb9.fa61e4","type":"trigger","z":"c8c384c5.eeb738","name":"","op1":"Yes","op2":"","op1type":"str","op2type":"nul","duration":"250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":620,"y":620,"wires":[["a2d68c71.12363"]]},{"id":"a2d68c71.12363","type":"ui_text","z":"c8c384c5.eeb738","group":"54cb462c.b5d518","order":2,"width":0,"height":0,"name":"","label":"Light","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":600,"wires":[]},{"id":"564b099e.1275b8","type":"rpi-gpio in","z":"c8c384c5.eeb738","name":"","pin":"37","intype":"tri","debounce":"25","read":false,"x":290,"y":700,"wires":[["3e1aed20.51a3f2"]]},{"id":"3e1aed20.51a3f2","type":"switch","z":"c8c384c5.eeb738","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":700,"wires":[["d3419b76.4d5608"],["6fd15b05.a4e684"]]},{"id":"d3419b76.4d5608","type":"trigger","z":"c8c384c5.eeb738","name":"","op1":"NO","op2":"","op1type":"str","op2type":"nul","duration":"250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":620,"y":680,"wires":[["1e4bed46.989ad3"]]},{"id":"6fd15b05.a4e684","type":"trigger","z":"c8c384c5.eeb738","name":"","op1":"Yes","op2":"","op1type":"str","op2type":"nul","duration":"250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":620,"y":720,"wires":[["1e4bed46.989ad3"]]},{"id":"1e4bed46.989ad3","type":"ui_text","z":"c8c384c5.eeb738","group":"54cb462c.b5d518","order":2,"width":0,"height":0,"name":"","label":"Water","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":700,"wires":[]}]